{% extends 'index.html' %}

{%  block body %}

  <div class="card shadow">
    <div class="card-body" style="max-width: 80%;">
      <center>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
 
  <div class="input-group mb-3">
    <label class="input-group-text" >Username</label>
    <input type="text" name="username" class="form-control" id="inputGroupFile01">
  </div>
    <div class="input-group mb-3">
      <label class="input-group-text" >Password</label>
      <input type="password" name="password" class="form-control" id="inputGroupFile01">
    </div>
    <input type="submit" value="Login" class="btn btn-info">
</form>
</center>
    </div>
</div>


{% endblock %}

